*{
	box-sizing: border-box;
}
html,body{
	font-family: 'Droid Sans', sans-serif;
	padding:0;
	margin:0;
}
nav.profile_ind{
	background-color: rgb(245,245,245);
	display:flex;
	flex-direction: row-reverse;
}
nav.profile_ind button{
	text-align:center;
	border:none;
	background-color:#2676C7 ;
	padding:8px 16px;
	flex:0 0 8%;
	transition:0.5s ease;
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.9em;
}
nav.profile_ind button:hover{
	background-color: #2E567E;
}

button.nav a{
	color:white;
	text-decoration: none;
}
button#addup{
	background-color: #2E567E;
}
button#addup:hover{
	background-color: #2676C7;
}
@media only screen and (max-width:768px)
{
	nav.profile_ind{
	flex-direction: column;
	}
	nav.profile_ind button{
		text-align:center;
		flex:1 0 10%;
	}
}
div.pass_table{
	margin-top:5%;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}

table.pass_table{
	border-collapse: collapse;
}
table.pass_table td,th{
	vertical-align: middle;
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;
	width:30%;
	//border:1px solid black;
}
table.pass_table th{
	color:white;
	background-color: #2676C7;
}
table.pass_table tr:nth-child(even)
{
	background-color: rgb(245,245,245);
}

div.main{
}
div.over{
	position:fixed;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.7);
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow:auto;
	display:none;
}
.over div{
	flex:0 0 400px;
	background-color:white;
	padding:2%;
}
.close_over{
	position:absolute;
	top:3%;
	right:1%;
	background-color: transparent;
	color:white;
	border:none;
	font-size: 2.5em;

}
form.form_temp{
	margin-top:4%;
}
form.form_temp input[type=text],form.form_temp input[type=password]{
	display:block;
	width:100%;
	margin-top:4%;
	margin-bottom:4%;
	border:none;
	border-bottom: 2px solid #313030;
	font-size: 1em;
	transition:0.5s ease;
}
form.form_temp input[type=text]:hover,form.form_temp input[type=password]:hover{
	border-bottom: 2px solid #6A6969;
}
form.form_temp input[type=text]:focus,form.form_temp input[type=password]:focus{
	outline:none;
	border:none;
    border-bottom: 2px solid #2676C7;
}
#btn_ctn{
	margin-top:2%;
	//border:1px solid black;
	text-align:center;
	//width:100%;
}
.btn{
	font-size: 1em;
	border:1px solid transparent;
	border-radius: 4px;
	display:inline-block;
	outline:none;
	padding:8px 16px;
	color:white;
	background-color:#2676C7 ;
	transition: 0.5s ease;
	
}
.btn:hover{
	background-color: #2E567E;
}
.err{
	display:inline;
	color:red;
}
.modErr{
	position:absolute;
	//border:1px solid black;
	text-align:center;
	width:100%;
	bottom:4%;
	background-color:rgba(0,0,0,0.7);
	color:white;
	padding-top:0.5%;
	padding-bottom:0.5%;
	opacity:0;
	transition: opacity 0.5s ease;
}